.boards_area{
    background-color: #20212C ;
    width: 1054px;
    color: white;
    padding: 25px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;

}

.columns{
    display: block;
}

.columnsArea{
    display: flex;

}

.colModal{
    background-color: blue;
    width: 500px;
    height: 805px;
    
}