.boards_area{
    background-color: #20212C ;
    width: auto;
    color: white;
    padding: 25px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    
    overflow-x: auto;
    flex-direction: column;
    ;

}

.columns{
    display: block;
}

.columnsArea{
    display: flex;
    flex-direction: row;

}

.colModal{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.colModal > button{
    padding: 10px;
}




/* WebKit-based browsers */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #2B2C37;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  