nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #2B2C37;
    color: #fff;
    
}

.brand{
    border-right: 1px white solid;
    padding: 30px 46.5px;
}

.links{
    padding: 30px;
}