@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Kanit:wght@200&family=Marck+Script&family=Plus+Jakarta+Sans:wght@200&family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}